<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wi2010d.dhbwapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="wi2010d.dhbwapp.Progress"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:port="*" />
                <data android:pathPattern="*.xml" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*..*..*..*..*..*.xml" />
                <data android:pathPattern=".*..*..*..*..*.xml" />
                <data android:pathPattern=".*..*..*..*.xml" />
                <data android:pathPattern=".*..*..*.xml" />
                <data android:pathPattern=".*..*.xml" />
                <data android:pathPattern=".*.xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/xml" />
            </intent-filter>
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.StartScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningScreen"
            android:label="@string/title_activity_learning_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminScreen"
            android:label="@string/title_activity_admin_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningChooseStackScreen"
            android:label="@string/title_activity_stapel_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningCardFront"
            android:label="@string/title_activity_show_card_front"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningCardBack"
            android:label="@string/title_activity_show_card_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.SettingsScreen"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminEditNewStack"
            android:label="@string/title_activity_admin_edit_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminNewStack"
            android:label="@string/title_activity_admin_new_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminChooseStackScreen"
            android:label="@string/title_activity_admin_choose_stack_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminNewCardChooseStack"
            android:label="@string/title_activity_admin_new_card_choose_stack_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.StatisticsScreen"
            android:label="@string/title_activity_statistics_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.StatisticsProgressDiagramActivity"
            android:label="@string/title_activity_statistics_screen">
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminNewCard"
            android:label="@string/title_activity_new_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningCard"
            android:label="@string/title_activity_learning_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminImportExport"
            android:label="@string/title_activity_admin_import_export"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminEditCard"
            android:label="@string/title_activity_admin_edit_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminEditStack"
            android:label="@string/title_activity_admin_edit_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminCreateDynamicStack"
            android:label="@string/title_activity_admin_create_dynamic_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminEditDynamicStack"
            android:label="@string/title_activity_admin_edit_dynamic_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpEditCardsStackScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpImportExportScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpIntroductionScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpLearnStatisticsScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpSettingsScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.HelpAboutScreen"
            android:label="@string/title_activity_help_screen"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>