<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wi2010d.dhbwapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wi2010d.dhbwapp.StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningScreen"
            android:label="@string/title_activity_learning_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.EditScreen"
            android:label="@string/title_activity_edit_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminScreen"
            android:label="@string/title_activity_admin_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningChooseStackScreen"
            android:label="@string/title_activity_stapel_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningCardFront"
            android:label="@string/title_activity_show_card_front" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.LearningCardBack"
            android:label="@string/title_activity_show_card_back" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.SettingsScreen"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.Admin_edit_stack"
            android:label="@string/title_activity_admin_edit_stack" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminChooseStackScreen"
            android:label="@string/title_activity_admin_choose_stack_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.StatisticsScreen"
            android:label="@string/title_activity_statistics_screen" >
        </activity>
        <activity
            android:name="wi2010d.dhbwapp.AdminNewCard"
            android:label="@string/title_activity_new_card" >
        </activity>
    </application>

</manifest>